#root {
  width: 100%;
  max-width: 900px;
  text-align: center;
}

h4, h3 {
  margin-bottom: 6px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
  width: 95%;
  text-transform: capitalize;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 4px;
  aspect-ratio: 1;
  height: 50px;
  width: 50px;
}

li button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.button.selected {
  background-color: white;
  color: black;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 10em;
  flex-wrap: wrap;
}

.block {
  background-color: #111;
  flex: 1 0 200px;
  max-width: 400px;
  margin: 8px 24px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  cursor: pointer;
}

.block.kana {
  display: flex;
  flex-direction: column;
}

.block.kana .small-subtext {
  font-size: 32px;
}

.block.kana .smaller-subtext {
  margin-top: 48px;
  font-size: 16px;
}

.block.hiding {
  font-size: 14px;
}

.block.hiding span {
  font-size: 48px;
}

.switch {
  width: 90%;
  max-width: 300px;
  margin: 16px 0;
  font-size: 1em;
  padding: 12px;
  border-radius: 40px;
}

.reveal {
  width: 48px;
  height: 48px;
  font-size: 18px;
  padding: 0;
  border-radius: 50%;
}

.cheatsheet {
  margin-top: 24px;
  margin-bottom: 24px;
}

.cheatsheet-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.row.wide .item {
  flex: 0 0 106px;
}

.item {
  font-size: 18px;
  flex: 0 0 60px;
  background-color: #111;
  margin: 4px;
  padding: 4px 16px;
  border-radius: 8px;
}

.empty {
  background-color: transparent;
}

.item-roumaji {
  font-size: 80%;
  opacity: 0.6;
}

.item-hiragana {
  font-size: 150%;
}

.info {
  padding: 16px;
}

.selector-group {
  flex-direction: column;
}

.selector-group-item {
  flex-direction: column;
}

